<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id = "loginimg">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h3 class="text-success text-center"><b>Library Management</b></h3>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">Login </h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email" [(ngModel)]="email">
                    <label for="floatingInput">Email address</label>
                </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
                    <label for="floatingPassword">Password</label>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <a routerLink="/signup" class="text-primary" style="text-decoration: none;">Need account ? </a>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end col-md-6">
                      <button class="btn btn-outline-success me-md-2" type="button" (click)="login()" >Login</button>
                    </div>
                  </div>

            </form>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
